.pizza-image
{
    width:40px;
}
.pimage{
    width:200px;
    float:right;
}

 .pizza-right
{
    width:40%;
} 
.pizza-head
{
    width:10%;
}
/* .button-edit
{
    padding:30px;
} */
#pizza-data
{
display: flex;
flex-direction: row;
width: 45%;
float: left;
border:1px solid grey;
margin:20px 10px 10px 40px; 
}

.veg
{
    background-color: green;
    padding-bottom:10px;
}
.nonveg
{
    background-color: red;
}

#inner
{
    width:20px;
    height:20px;
    margin-left: 35px;
}